.parent{
background-image: url(../photos/1photo.jpg);
width: 100%;
height: 800px;
background-size: cover;
}
body{
    /* margin: auto;
    width: 80%; */
    }  
     .child{
        display: flex;
     } 
      
    
      
      .parent1{
        width: 900px;
        margin: auto;
        text-align: center;
        margin-top: 200px;
    }
    .parent1 p{
    font-size: 30px;
    color: white;
    }  
    .parent1 h1{
    font-size: 70px;
  color: whitesmoke;
    }

    .parent1 button{
width: 180px;
height: 60px;
border-radius: 10px;
background-color: rgb(231, 231, 0);
font-size: 25px;
color: azure;
    }

.child1:hover{
    background-color: rgba(205, 214, 84, 0.642);
    color: aliceblue;
}






    .c{
        /* padding-left: 550px; */
        margin-left: 450px;
        padding-top: 40px;
    }
    
    
    .c li{
        display: inline;
       padding-right: 20px;
       color: white;
       text-transform: uppercase;
       font-size: 20px;
    }
    
    .parent h2{
        color: yellow; 
        margin-left: 120px;
        padding-top: 30PX;
        font-size: 35px;
    }

    .c li:hover{
    color: yellow;

    }

.parent2{
text-align: center;
margin-top: 50px;

}

.as{
font-size: 65px;

}
.parent2 p{
color: gray;

}

.div3{
    display: flex;
    flex-direction: row;
justify-content: space-evenly;
margin-top: 100px;
}

.child2{
text-align: center;
/* background-color: blue; */
width: 350px;
height: 350px;
}
.child2 i{
font-size: 50px;
padding-top: 30px;
background-color: black;
color: white;
width: 100px;
height: 70px;
background-color: yellow;
border-radius: 50%;
}

.parent3{
text-align: center;
background-color:  rgb(231, 231, 231);
padding: auto;
padding-bottom: 60px;
padding-top: 60px;
}
.div4{
display: flex;
margin-top: 60px;
flex-direction: row;
justify-content: space-evenly

}
.child3{
width:440px ;
text-transform: uppercase;
background-color: white;
}
.child3 img{
    width: 440px;

}

.about{
    text-align: center;
   
}
.parent-about{
display: flex;
flex-direction: row;
padding-left: 250px;
margin-top: 80px;
}


.about h1{
font-size: 35px;
text-transform:uppercase;
}


.our-humble{
width: 400px;

}
.our-humble p{
font-size: 20px;
color: grey;
}
.our-humble h3{
    font-size: 25px;
}



.img-about img{
width: 150px;
height: 150px;
   border-radius: 50%;
    border: 10px solid rgb(206, 199, 199);
margin-left:30px ;
margin-right: 30px;

}

.parent-about1{
    display: flex;
    flex-direction: row;
    padding-left: 650px;
    margin-top: 100px;
    }


    .parent-about2{
        display: flex;
        flex-direction: row;
        padding-left: 250px;
        margin-top: 100px;
        }

        .parent-about3{
            display: flex;
            flex-direction: row;
            padding-left: 650px;
            margin-top: 100px;
            }
.parent-about4{
width: 150px;
height: 150px;
display: flex;
flex-direction: row;
margin-left: 650px;
margin-top: 150px;
background-color: yellow;
border-radius: 50%;
text-align: center;
border: 10px solid rgb(189, 181, 181);
font-size: 30px;
}

.teams{
text-align: center;
margin-top: 100px;
background-color: rgb(231, 231, 231);
padding-top: 40px;
padding-bottom: 40px;
}
.teams h2{
font-size: 35px;
}
.teams p{
    color: grey; 
}
.parent-team{
    display: flex;
flex-direction: row;
margin-top: 90px;
justify-content: space-evenly;
}
.child-team{
    width: 250px;
    height: 250px;
/* margin-left: 180px; */
    
}
.child-team img{
width: 200px;
height: 200px;
border-radius: 50%;
border: 10px solid rgb(179, 179, 179);
}
.child-team i{
font-size: 30px;
}
.child-team h3{
font-size: 27px;

}
.div7{
margin-top: 180px;

}
.contact{
width: auto;
height: 50px;
background-color: black;
color: rgb(255, 255, 255);
font-size: 20px;
text-align: center;

}
.contact p{
    padding-top: 10px;
}

















